<button
  class="gap-x-2 p-2 rounded-md text-sm font-semibold text-gray-700 dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-900 dark:hover:text-white flex cursor-pointer items-center transition-colors"
  ngMenuTrigger
  #origin
  #trigger="ngMenuTrigger"
  [menu]="profileMenu()"
>
  <span
    class="size-5 icon-[heroicons--user-circle]"
    translate="no"
    aria-hidden="true"
  ></span>
  <span>{{ username() }}</span>
  <svg
    class="size-4 ease-out transform transition-transform duration-200"
    viewBox="0 0 20 20"
    fill="currentColor"
    aria-hidden="true"
    [class.rotate-180]="trigger.expanded()"
  >
    <path
      fill-rule="evenodd"
      d="M5.23 7.21a.75.75 0 0 1 1.06.02L10 10.94l3.71-3.71a.75.75 0 1 1 1.06 1.06l-4.24 4.24a.75.75 0 0 1-1.06 0L5.21 8.29a.75.75 0 0 1 .02-1.08Z"
      clip-rule="evenodd"
    />
  </svg>
</button>
<ng-template
  cdkAttachPopoverAsChild
  [cdkConnectedOverlayOpen]="trigger.expanded()"
  [cdkConnectedOverlay]="{ origin, usePopover: 'inline' }"
  [cdkConnectedOverlayPositions]="[
    {
      originX: 'start',
      originY: 'bottom',
      overlayX: 'start',
      overlayY: 'top',
      offsetY: 4,
    },
    {
      originX: 'end',
      originY: 'bottom',
      overlayX: 'end',
      overlayY: 'top',
      offsetY: 4,
    },
  ]"
>
  <div
    class="menu rounded-md shadow-xl border-gray-200 dark:border-white/5 p-1 bg-white dark:bg-gray-900 w-[15rem] border"
    ngMenu
    #profileMenu="ngMenu"
  >
    <ng-template ngMenuContent>
      <div class="gap-y-1 flex flex-col">
        <div
          class="p-3 text-gray-900 dark:text-white flex flex-col"
        >
          <span
            class="text-xs text-gray-600 dark:text-gray-400"
            >Signed in as</span
          >
          <span class="text-sm font-semibold mt-1">{{
            username()
          }}</span>
        </div>
        <div
          class="border-gray-200 dark:border-white/10 mx-1 border-t"
          role="separator"
          aria-orientation="horizontal"
        ></div>
        <div
          class="gap-x-3 p-2 mx-1 rounded-md text-sm font-semibold text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-900 dark:hover:text-white flex cursor-pointer items-center transition-colors"
          ngMenuItem
          value="Profile"
          (click)="openProfile()"
        >
          <span
            class="size-5 icon-[heroicons--user-circle]"
            translate="no"
            aria-hidden="true"
          ></span>
          <span>Profile</span>
        </div>
        <div
          class="gap-x-3 p-2 mx-1 rounded-md text-sm font-semibold text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-900 dark:hover:text-white flex cursor-pointer items-center justify-between transition-colors"
          ngMenuItem
          value="Theme"
          #themeItem
          [submenu]="themeMenu()"
        >
          <div class="gap-x-3 flex items-center">
            <span
              class="size-5 icon-[heroicons--sun]"
              translate="no"
              aria-hidden="true"
            ></span>
            <span>Theme</span>
          </div>
          <svg
            class="size-4 ease-out transform transition-transform duration-200"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <ng-template
          cdkAttachPopoverAsChild
          [cdkConnectedOverlayOpen]="profileMenu.visible()"
          [cdkConnectedOverlay]="{
            origin: themeItem,
            usePopover: 'inline',
          }"
          [cdkConnectedOverlayPositions]="[
            {
              originX: 'start',
              originY: 'top',
              overlayY: 'top',
              overlayX: 'end',
              offsetX: -8,
            },
          ]"
        >
          <div
            class="menu rounded-md shadow-xl border-gray-200 dark:border-white/5 p-1 bg-white dark:bg-gray-900 w-[10rem] border"
            ngMenu
            #themeMenu="ngMenu"
          >
            <ng-template ngMenuContent>
              <div class="gap-y-1 flex flex-col">
                <div
                  class="gap-x-3 p-2 mx-1 mt-1 rounded-md text-sm font-semibold flex cursor-pointer items-center transition-colors"
                  ngMenuItem
                  value="system"
                  [class]="
                    currentTheme() === 'system'
                      ? 'dark:text-white bg-primary-100 text-primary-700 dark:bg-primary-600'
                      : 'text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-900 dark:hover:text-white'
                  "
                  (click)="setTheme('system')"
                >
                  <span
                    class="size-5 icon-[heroicons--computer-desktop]"
                    translate="no"
                    aria-hidden="true"
                  ></span>
                  <span>System</span>
                </div>
                <div
                  class="gap-x-3 p-2 mx-1 rounded-md text-sm font-semibold flex cursor-pointer items-center transition-colors"
                  ngMenuItem
                  value="light"
                  [class]="
                    currentTheme() === 'light'
                      ? 'dark:text-white bg-primary-100 text-primary-700 dark:bg-primary-600'
                      : 'text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-900 dark:hover:text-white'
                  "
                  (click)="setTheme('light')"
                >
                  <span
                    class="size-5 icon-[heroicons--sun]"
                    translate="no"
                    aria-hidden="true"
                  ></span>
                  <span>Light</span>
                </div>
                <div
                  class="gap-x-3 p-2 mx-1 mb-1 rounded-md text-sm font-semibold flex cursor-pointer items-center transition-colors"
                  ngMenuItem
                  value="dark"
                  [class]="
                    currentTheme() === 'dark'
                      ? 'dark:text-white bg-primary-100 text-primary-700 dark:bg-primary-600'
                      : 'text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-900 dark:hover:text-white'
                  "
                  (click)="setTheme('dark')"
                >
                  <span
                    class="size-5 icon-[heroicons--moon]"
                    translate="no"
                    aria-hidden="true"
                  ></span>
                  <span>Dark</span>
                </div>
              </div>
            </ng-template>
          </div>
        </ng-template>
        <div
          class="gap-x-3 p-2 mx-1 rounded-md text-sm font-semibold text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 hover:text-gray-900 dark:hover:text-white flex cursor-pointer items-center transition-colors"
          ngMenuItem
          value="Settings"
          (click)="openSettings()"
        >
          <span
            class="size-5 icon-[heroicons--cog-8-tooth]"
            translate="no"
            aria-hidden="true"
          ></span>
          <span>Settings</span>
        </div>
        <div
          class="border-gray-200 dark:border-white/10 mx-1 border-t"
          role="separator"
          aria-orientation="horizontal"
        ></div>
        <div
          class="gap-x-3 p-2 mx-1 mb-1 rounded-md text-sm font-semibold flex cursor-pointer items-center text-error-600 transition-colors hover:bg-error-100 hover:text-error-700 dark:text-error-400 dark:hover:bg-error-900/30 dark:hover:text-error-300"
          ngMenuItem
          value="Logout"
          (click)="signOut()"
        >
          <span
            class="size-5 icon-[heroicons--arrow-right-end-on-rectangle]"
            translate="no"
            aria-hidden="true"
          ></span>
          <span>Logout</span>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
